<%- include('partials/header'); -%>
<section id="three" class="spotlight style3 left">
  <span class="image fit main bottom"><img src="images/campus4.jpg" alt="" /></span>
  <div class="content">
    <header>
      <h2>SignUp</h2>
    </header>
    <form action="">
      <label for="email">Email</label>
      <input type="text" name = "email" required/> 
      <div class="email error"></div>
      <label for="password" style="padding-top: 1cm;">Password</label>
      <input type="password" name="password" required/>
      <div class="password error"></div>
      <ul class="actions" style="margin-top: 1cm;">  
        <li><button style="font-size: 16px;" class="button">SignUp</button></li>
        <li><a href="\login" style="color: white" class="scrolly" >Already have an account? Login Instead</a></li>
        
      </ul>
    </form>
  </div>
  <!-- <a href="#four" class="goto-next scrolly">Next</a> -->
</section>
			
<%- include('partials/footer'); -%>









<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        if (data.redirect_to)
          location.assign(data.redirect_to);
        else location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>