
			<!-- Three -->
            <section id="three" class="spotlight style3 left">
                <span class="image fit main bottom"><img src="images/campus4.jpg" alt="" /></span>
                <div class="content">
                    <header>
                        <h2>SignUp</h2>
                    </header>
                    <form action="">
                        <label>Name</label>
                        <input type="text" name = "Name"/> 
                        <label for="password" style="padding-top: 1cm;">Password</label>
                        <input type="password" name="password" id=""/>
                    </form>
                    <ul class="actions">
                        <li><a href="#" class="button">Signup</a></li>
                        <li><a href="#two" style="color: white" class="scrolly" >Already have an account? Login Instead</a></li>

                    </ul>
                </div>
                <!-- <a href="#four" class="goto-next scrolly">Next</a> -->
            </section>
            